NET "OSC_in_p" TNM_NET = "OSC_in_p";
#NET "Inst_crg_dcms/dcm_global/CLK_IN1_P" LOC = A10;
NET "Inst_crg_dcms/dcm_global/CLK_IN1_P" LOC = L23;
#TIMESPEC TS_OSC_in_p = PERIOD "OSC_in_p" 12.5 ns HIGH 50 %;
#NET "Inst_crg_dcms/dcm_global/CLK_IN1_N" LOC = B10;
# cdce5
NET "Inst_crg_dcms/dcm_global/CLK_IN1_N" LOC = M22;
TIMESPEC TS_OSC_in_p = PERIOD "OSC_in_p" 10 ns HIGH 50 %;
NET "user_pushbutton" LOC = AD25;
# CLOCK region
NET "ADC_Mode" LOC = U33;
NET "ADC_sclk_OUT" LOC = U32;
NET "ADC_sdata[0]" LOC = U26;
NET "ADC_sldn_OUT" LOC = U27;
#TIMEGRP "ADC_sdata[0]" OFFSET = IN 50ns VALID 100ns BEFORE "ADC_sclk_out" RISING;
#ADC_interfce
NET "spi_clk" LOC = K31;
NET "spi_miso" LOC = K32;
NET "spi_mosi" LOC = M26;
NET "spi_le" LOC = M27;
#NET "spi_syn" LOC = Y27;
#NET "spi_powerdn" LOC = Y28;
#NET "spi_pllock" LOC = K18;
# ADC receiver
#------------------------------ADC_DOQ
NET "ADC_DOQA_p[0]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[0]" LOC = AF13;
NET "ADC_DOQA_p[1]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[1]" LOC = AM12;
NET "ADC_DOQA_p[2]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[2]" LOC = AE14;
NET "ADC_DOQA_p[3]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[3]" LOC = AN13;
NET "ADC_DOQA_p[4]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[4]" LOC = AG12;
NET "ADC_DOQA_p[5]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[5]" LOC = AK13;
NET "ADC_DOQA_p[6]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[6]" LOC = AH13;
NET "ADC_DOQA_p[7]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/I[7]" LOC = AP14;
#---------
NET "ADC_DOQA_n[0]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[0]" LOC = AG13;
NET "ADC_DOQA_n[1]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[1]" LOC = AN12;
NET "ADC_DOQA_n[2]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[2]" LOC = AF14;
NET "ADC_DOQA_n[3]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[3]" LOC = AM13;
NET "ADC_DOQA_n[4]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[4]" LOC = AH12;
NET "ADC_DOQA_n[5]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[5]" LOC = AL13;
NET "ADC_DOQA_n[6]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[6]" LOC = AH14;
NET "ADC_DOQA_n[7]" TNM = "ADC_DOQA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit2/IB[7]" LOC = AN14;
#--------
NET "ADC_DOQB_p[0]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[0]" LOC = AE13;
NET "ADC_DOQB_p[1]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[1]" LOC = AJ11;
NET "ADC_DOQB_p[2]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[2]" LOC = AD14;
NET "ADC_DOQB_p[3]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[3]" LOC = AK12;
NET "ADC_DOQB_p[4]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[4]" LOC = AF11;
NET "ADC_DOQB_p[5]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[5]" LOC = AM10;
NET "ADC_DOQB_p[6]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[6]" LOC = AG11;
NET "ADC_DOQB_p[7]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/I[7]" LOC = AL11;
#--------
NET "ADC_DOQB_n[0]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[0]" LOC = AE12;
NET "ADC_DOQB_n[1]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[1]" LOC = AK11;
NET "ADC_DOQB_n[2]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[2]" LOC = AC14;
NET "ADC_DOQB_n[3]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[3]" LOC = AJ12;
NET "ADC_DOQB_n[4]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[4]" LOC = AE11;
NET "ADC_DOQB_n[5]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[5]" LOC = AL10;
NET "ADC_DOQB_n[6]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[6]" LOC = AG10;
NET "ADC_DOQB_n[7]" TNM = "ADC_DOQB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit1/IB[7]" LOC = AM11;
#--------------------------------ADC_DOI
NET "ADC_DOIA_p[0]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[0]" LOC = AH18;
NET "ADC_DOIA_p[1]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[1]" LOC = AN17;
NET "ADC_DOIA_p[2]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[2]" LOC = AJ19;
NET "ADC_DOIA_p[3]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[3]" LOC = AM17;
NET "ADC_DOIA_p[4]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[4]" LOC = AD17;
NET "ADC_DOIA_p[5]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[5]" LOC = AK18;
NET "ADC_DOIA_p[6]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[6]" LOC = AE18;
NET "ADC_DOIA_p[7]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/I[7]" LOC = AL16;
#--------
NET "ADC_DOIA_n[0]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[0]" LOC = AG18;
NET "ADC_DOIA_n[1]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[1]" LOC = AP17;
NET "ADC_DOIA_n[2]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[2]" LOC = AH19;
NET "ADC_DOIA_n[3]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[3]" LOC = AM16;
NET "ADC_DOIA_n[4]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[4]" LOC = AE17;
NET "ADC_DOIA_n[5]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[5]" LOC = AK17;
NET "ADC_DOIA_n[6]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[6]" LOC = AF18;
NET "ADC_DOIA_n[7]" TNM = "ADC_DOIA";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit4/IB[7]" LOC = AK16;
#-------
NET "ADC_DOIB_p[0]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[0]" LOC = AG15;
NET "ADC_DOIB_p[1]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[1]" LOC = AK14;
NET "ADC_DOIB_p[2]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[2]" LOC = AJ15;
NET "ADC_DOIB_p[3]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[3]" LOC = AL15;
NET "ADC_DOIB_p[4]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[4]" LOC = AG16;
NET "ADC_DOIB_p[5]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[5]" LOC = AN15;
NET "ADC_DOIB_p[6]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[6]" LOC = AJ17;
NET "ADC_DOIB_p[7]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/I[7]" LOC = AP16;
#-------
NET "ADC_DOIB_n[0]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[0]" LOC = AF15;
NET "ADC_DOIB_n[1]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[1]" LOC = AJ14;
NET "ADC_DOIB_n[2]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[2]" LOC = AH15;
NET "ADC_DOIB_n[3]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[3]" LOC = AL14;
NET "ADC_DOIB_n[4]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[4]" LOC = AF16;
NET "ADC_DOIB_n[5]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[5]" LOC = AM15;
NET "ADC_DOIB_n[6]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[6]" LOC = AJ16;
NET "ADC_DOIB_n[7]" TNM = "ADC_DOIB";
NET "Inst_DATAin_IOB/Inst_IBUFD_8bit3/IB[7]" LOC = AP15;

#-------
#TIMEGRP "ADC_DOQA" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOQ_p" RISING;
#TIMEGRP "ADC_DOQB" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOQ_p" RISING;
#TIMEGRP "ADC_DOIA" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOI_p" RISING;
#TIMEGRP "ADC_DOIB" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOI_p" RISING;
NET "DOIRI_p" LOC = AH17;
NET "DOIRI_n" LOC = AG17;
NET "DOIRQ_p" LOC = AJ10;
NET "DOIRQ_n" LOC = AH10;
#--------
NET "ADC_CLKOI_p" TNM_NET = "ADC_CLKOI_p";
NET "Inst_crg_dcms/dcm2/CLK_IN1_P" LOC = K13;
TIMESPEC TS_ADC_CLKOI = PERIOD "ADC_CLKOI_p" 4 ns HIGH 50 %;
NET "ADC_CLKOI_n" TNM_NET = "ADC_CLKOI_n";
NET "Inst_crg_dcms/dcm2/CLK_IN1_N" LOC = K12;
TIMESPEC TS_ADC_CLKOI_n = PERIOD "ADC_CLKOI_n" 4 ns HIGH 50 %;
#OFFSET = IN 1150 ps VALID 2 ns BEFORE ADC_CLKOI_p RISING;
#OFFSET = IN 1150 ps VALID 2 ns BEFORE ADC_CLKOI_p FALLING;
#----------------------------------------------
#NET "ADC_CLKOQ_p" TNM_NET = "ADC_CLKOQ_p";
##NET "Inst_crg_dcms/dcm3/CLK_IN1_P" LOC = J9;
##NET "Inst_crg_dcms/dcm3/CLK_IN1_N" LOC = H9;
##adc clkq->q clki->i
#NET "Inst_crg_dcms/dcm3/CLK_IN1_P" LOC = K13;
#NET "Inst_crg_dcms/dcm3/CLK_IN1_N" LOC = K12;
##adc clki->q clki->i
#TIMESPEC TS_ADC_CLKOQ_p = PERIOD "ADC_CLKOQ_p" 4 ns HIGH 50 %;
##OFFSET = IN 1000 ps VALID 2 ns BEFORE ADC_CLKOQ_p RISING;
##OFFSET = IN 1000 ps VALID 2 ns BEFORE ADC_CLKOQ_p FALLING;
#NET "ADC_CLKOQ_n" TNM_NET = "ADC_CLKOQ_n";
#TIMESPEC TS_ADC_CLKOQ_n = PERIOD "ADC_CLKOQ_n" 4 ns HIGH 50 %;
#-----------------------------------------------
NET "Inst_DATAin_IOB/ADC_DOIA[0]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[0]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[0]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[0]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;

NET "Inst_DATAin_IOB/ADC_DOIA[1]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[1]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[1]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[1]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;

NET "Inst_DATAin_IOB/ADC_DOIA[2]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[2]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[2]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[2]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;

NET "Inst_DATAin_IOB/ADC_DOIA[3]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[3]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[3]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[3]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;

NET "Inst_DATAin_IOB/ADC_DOIA[4]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[4]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[4]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[4]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;

NET "Inst_DATAin_IOB/ADC_DOIA[5]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[5]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[5]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[5]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;

NET "Inst_DATAin_IOB/ADC_DOIA[6]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[6]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[6]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[6]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;

NET "Inst_DATAin_IOB/ADC_DOIA[7]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOIB[7]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;
NET "Inst_DATAin_IOB/ADC_DOQA[7]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" RISING;
NET "Inst_DATAin_IOB/ADC_DOQB[7]" OFFSET = IN -250 ps VALID 2 ns BEFORE "ADC_CLKOI_p" FALLING;



#--------
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[0].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[0].FDCE_inst" LOC = SLICE_X89Y55;
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[1].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[1].FDCE_inst" LOC = SLICE_X89Y53;
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[2].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[2].FDCE_inst" LOC = SLICE_X89Y51;
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[3].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[3].FDCE_inst" LOC = SLICE_X89Y49;
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[4].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[4].FDCE_inst" LOC = SLICE_X89Y47;
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[5].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[5].FDCE_inst" LOC = SLICE_X89Y45;
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[6].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[6].FDCE_inst" LOC = SLICE_X89Y43;
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[7].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_1_inst1[7].FDCE_inst" LOC = SLICE_X89Y41;

INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[0].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[0].FDCE_inst" LOC = SLICE_X89Y55;
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[1].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[1].FDCE_inst" LOC = SLICE_X89Y53;
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[2].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[2].FDCE_inst" LOC = SLICE_X89Y51;
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[3].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[3].FDCE_inst" LOC = SLICE_X89Y49;
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[4].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[4].FDCE_inst" LOC = SLICE_X89Y47;
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[5].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[5].FDCE_inst" LOC = SLICE_X89Y45;
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[6].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[6].FDCE_inst" LOC = SLICE_X89Y43;
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[7].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqA_2_inst2[7].FDCE_inst" LOC = SLICE_X89Y41;

INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[0].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[0].FDCE_inst" LOC = SLICE_X89Y79;
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[1].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[1].FDCE_inst" LOC = SLICE_X89Y77;
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[2].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[2].FDCE_inst" LOC = SLICE_X89Y75;
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[3].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[3].FDCE_inst" LOC = SLICE_X89Y73;
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[4].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[4].FDCE_inst" LOC = SLICE_X89Y71;
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[5].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[5].FDCE_inst" LOC = SLICE_X89Y69;
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[6].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[6].FDCE_inst" LOC = SLICE_X89Y67;
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[7].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_1_inst3[7].FDCE_inst" LOC = SLICE_X89Y65;

INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[0].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[0].FDCE_inst" LOC = SLICE_X89Y79;
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[1].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[1].FDCE_inst" LOC = SLICE_X89Y77;
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[2].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[2].FDCE_inst" LOC = SLICE_X89Y75;
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[3].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[3].FDCE_inst" LOC = SLICE_X89Y73;
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[4].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[4].FDCE_inst" LOC = SLICE_X89Y71;
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[5].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[5].FDCE_inst" LOC = SLICE_X89Y69;
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[6].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[6].FDCE_inst" LOC = SLICE_X89Y67;
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[7].FDCE_inst" TNM = "DFFQ";
INST "Inst_DATAin_IOB/DFF_doqB_2_inst4[7].FDCE_inst" LOC = SLICE_X89Y65;
#--------
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[0].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[0].FDCE_inst" LOC = SLICE_X89Y15;
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[1].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[1].FDCE_inst" LOC = SLICE_X89Y13;
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[2].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[2].FDCE_inst" LOC = SLICE_X89Y11;
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[3].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[3].FDCE_inst" LOC = SLICE_X89Y9;
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[4].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[4].FDCE_inst" LOC = SLICE_X89Y7;
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[5].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[5].FDCE_inst" LOC = SLICE_X89Y5;
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[6].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[6].FDCE_inst" LOC = SLICE_X89Y3;
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[7].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_1_inst1[7].FDCE_inst" LOC = SLICE_X89Y1;

INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[0].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[0].FDCE_inst" LOC = SLICE_X89Y15;
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[1].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[1].FDCE_inst" LOC = SLICE_X89Y13;
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[2].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[2].FDCE_inst" LOC = SLICE_X89Y11;
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[3].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[3].FDCE_inst" LOC = SLICE_X89Y9;
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[4].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[4].FDCE_inst" LOC = SLICE_X89Y7;
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[5].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[5].FDCE_inst" LOC = SLICE_X89Y5;
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[6].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[6].FDCE_inst" LOC = SLICE_X89Y3;
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[7].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiA_2_inst2[7].FDCE_inst" LOC = SLICE_X89Y1;

INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[0].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[0].FDCE_inst" LOC = SLICE_X89Y39;
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[1].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[1].FDCE_inst" LOC = SLICE_X89Y37;
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[2].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[2].FDCE_inst" LOC = SLICE_X89Y35;
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[3].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[3].FDCE_inst" LOC = SLICE_X89Y33;
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[4].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[4].FDCE_inst" LOC = SLICE_X89Y31;
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[5].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[5].FDCE_inst" LOC = SLICE_X89Y29;
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[6].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[6].FDCE_inst" LOC = SLICE_X89Y27;
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[7].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_1_inst3[7].FDCE_inst" LOC = SLICE_X89Y25;

INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[0].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[0].FDCE_inst" LOC = SLICE_X89Y39;
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[1].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[1].FDCE_inst" LOC = SLICE_X89Y37;
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[2].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[2].FDCE_inst" LOC = SLICE_X89Y35;
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[3].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[3].FDCE_inst" LOC = SLICE_X89Y33;
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[4].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[4].FDCE_inst" LOC = SLICE_X89Y31;
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[5].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[5].FDCE_inst" LOC = SLICE_X89Y29;
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[6].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[6].FDCE_inst" LOC = SLICE_X89Y27;
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[7].FDCE_inst" TNM = "DFFI";
INST "Inst_DATAin_IOB/DFF_doiB_2_inst4[7].FDCE_inst" LOC = SLICE_X89Y25;
#--------
INST "inst_ram_top/inst_ram_Q/ram_Q_inst" TNM = "RAMQ";
INST "inst_ram_top/inst_ram_I/ram_I_inst" TNM = "RAMI";

TIMESPEC TS_DFFQtoRAM = FROM "DFFQ" TO "RAMQ" 4 ns;
TIMESPEC TS_DFFItoRAM = FROM "DFFI" TO "RAMI" 4 ns;

INST "inst_Dmod_Seg/inst_Win_RAM_top/inst_Pstprc_ram_Q/inst_Post_Process_ramQ" TNM = "PSTPRC_RAMQ";
INST "inst_Dmod_Seg/inst_Win_RAM_top/inst_Pstprc_ram_I/inst_Post_Process_ramI" TNM = "PSTPRC_RAMI";
TIMESPEC TS_DFFQtoPSTPRCRAM = FROM "DFFQ" TO "PSTPRC_RAMQ" 4 ns;
TIMESPEC TS_DFFItoPSTPRCRAM = FROM "DFFI" TO "PSTPRC_RAMI" 4 ns;
#--------
NET "PHY_GTXclk_quar" LOC = AL33;
NET "PHY_GTXclk_quar" TNM_NET = "PHY_GTXclk_quar";
TIMESPEC TS_PHY_GTXclk_quar = PERIOD "PHY_GTXclk_quar" 8 ns HIGH 50 %;
TIMEGRP TXD_GRP =  "TMN" "TXD";
TIMEGRP "TXD_GRP" OFFSET = OUT 2 ns VALID 4 ns BEFORE "PHY_GTXclk_quar" RISING;
TIMEGRP "TXD_GRP" OFFSET = OUT 2 ns VALID 4 ns BEFORE "PHY_GTXclk_quar" FALLING;
NET "PHy_txen_quar" LOC = AN33;
NET "phy_txer_o" LOC = AN34;
#--reset the chip
NET "phy_rst_n_o" LOC = AP32;
NET "PHY_TXD_o[0]" TNM = "TXD";
NET "PHY_TXD_o[0]" LOC = AH30;
NET "PHY_TXD_o[1]" TNM = "TXD";
NET "PHY_TXD_o[1]" LOC = AH29;
NET "PHY_TXD_o[2]" TNM = "TXD";
NET "PHY_TXD_o[2]" LOC = AK34;
NET "PHY_TXD_o[3]" TNM = "TXD";
NET "PHY_TXD_o[3]" LOC = AL34;

NET "PHY_RXD[3]" LOC = AJ30;
NET "PHY_RXD[3]" TNM = "RXD";
NET "PHY_RXD[2]" LOC = AK33;
NET "PHY_RXD[2]" TNM = "RXD";
NET "PHY_RXD[1]" LOC = AK32;
NET "PHY_RXD[1]" TNM = "RXD";
NET "PHY_RXD[0]" LOC = AL31;
NET "PHY_RXD[0]" TNM = "RXD";
NET "Inst_crg_dcms/dcm_rxc_inst/CLK_IN1" LOC = B31;
#NET "PHY_RXC" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PHY_RXC" TNM_NET = "PHY_RXC";
TIMESPEC TS_PHY_RXC = PERIOD "PHY_RXC" 8 ns HIGH 50 %;
TIMEGRP RXD_GRP =  "TMN" "RXD";
TIMEGRP "RXD_GRP" OFFSET = IN 2 ns VALID 4 ns BEFORE "PHY_RXC" RISING;
TIMEGRP "RXD_GRP" OFFSET = IN 2 ns VALID 4 ns BEFORE "PHY_RXC" FALLING;
NET "PHY_RXDV" LOC = AK31;
#---------------------------------------
#j31
NET "SRCC1_p_trigin" LOC = L20;
#j9
NET "Estmr_OQ_p" LOC = N32;
#j8
NET "Estmr_OQ_n" LOC = P32;
#J32
#NET "Estmr_OQ" LOC = L21;
NET "Inst_crg_dcms/dcm_ext_dac_inst/CLK_IN1" LOC = D11;

# J33
#-------
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg3" LOC = RAMB36_X0Y14;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp1/Mram_RAM_reg2" LOC = RAMB36_X1Y13;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg4" LOC = RAMB36_X1Y14;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp1/Mram_RAM_reg3" LOC = RAMB36_X1Y15;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp1/Mram_RAM_reg4" LOC = RAMB36_X1Y16;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg2" LOC = RAMB36_X2Y14;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg1" LOC = RAMB36_X2Y15;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp1/Mram_RAM_reg1" LOC = RAMB36_X2Y16;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y11;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y12;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y13;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y5;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y6;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y7;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y10;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y11;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y12;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y13;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y14;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y15;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y2;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y3;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y4;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y5;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y6;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y7;
#INST "ram_data_inst2/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y8;
#INST "ram_data_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y9;
#edit at 9.6 change the ram 
#INST "Inst_crg_dcms/dcm_global/mmcm_adv_inst" LOC = MMCM_ADV_X0Y7;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg3" LOC = RAMB36_X0Y13;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg2" LOC = RAMB36_X0Y14;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg4" LOC = RAMB36_X0Y15;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp2/Mram_RAM_reg1" LOC = RAMB36_X1Y12;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp1/Mram_RAM_reg1" LOC = RAMB36_X1Y13;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp1/Mram_RAM_reg2" LOC = RAMB36_X1Y14;
#INST "Inst_G_ethernet_top/Inst_G_ehernet_Rx_data/Inst_Mac_RX2/u_RX_buffer/RAM_dp1/Mram_RAM_reg4" LOC = RAMB36_X1Y15;
#INST "Inst_crg_dcms/dcm3/mmcm_adv_inst" LOC = MMCM_ADV_X0Y5;
#INST "Inst_crg_dcms/dcm2/mmcm_adv_inst" LOC = MMCM_ADV_X0Y4;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y5;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X2Y6;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y4;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y5;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y6;
#adcoi -30 phase shift achieve
#INST "Inst_RAM_top/Inst_RAM_Q/ram_Q_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y10;
#INST "Inst_RAM_top/Inst_RAM_Q/ram_Q_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y11;
#INST "Inst_RAM_top/Inst_RAM_Q/ram_Q_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y12;
#INST "Inst_RAM_top/Inst_RAM_Q/ram_Q_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y13;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y4;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y5;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y6;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y7;
#INST "Inst_RAM_top/Inst_RAM_I/ram_I_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y8;
#INST "Inst_RAM_top/Inst_RAM_Q/ram_Q_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X3Y9;
#INST "Inst_crg_dcms/dcm_global/mmcm_adv_inst" LOC = MMCM_ADV_X0Y4;
#INST "Inst_crg_dcms/dcm3/mmcm_adv_inst" LOC = MMCM_ADV_X0Y4;
INST "Inst_crg_dcms/dcm2/mmcm_adv_inst" LOC = MMCM_ADV_X0Y6;
INST "Inst_crg_dcms/dcm_rxc_inst/mmcm_adv_inst" LOC = MMCM_ADV_X0Y7;


INST "Inst_crg_dcms/dcm_global/mmcm_adv_inst" LOC = MMCM_ADV_X0Y5;


NET "TX_src_MAC_addr[0]" LOC = W29;
NET "TX_src_MAC_addr[1]" LOC = Y29;
NET "TX_src_MAC_addr[2]" LOC = W31;
NET "TX_src_MAC_addr[3]" LOC = W32;


NET "TX_src_MAC_addr[0]" PULLUP;
NET "TX_src_MAC_addr[1]" PULLUP;
NET "TX_src_MAC_addr[2]" PULLUP;
NET "TX_src_MAC_addr[3]" PULLUP;
NET "user_pushbutton" CLOCK_DEDICATED_ROUTE = FALSE;
NET "user_pushbutton" TIG;
#set_false_path -to [get_nets ];

NET "Inst_sys_reset_proc/rst_data_n" TIG;
NET "Inst_sys_reset_proc/rst_adc_n" TIG;
NET "Inst_sys_reset_proc/rst_data_proc_n" TIG;
NET "Inst_sys_reset_proc/rst_eth_r_n" TIG;
NET "Inst_sys_reset_proc/rst_eth_t_n" TIG;
NET "Inst_sys_reset_proc/rst_feedback_n" TIG;
NET "Inst_sys_reset_proc/rst_config_n" TIG;

#----
#NET "SRCC1_p" LOC =N32;#j9
#NET "SRCC1_n" LOC = P32; #J8
#NET "MRCC1_p" LOC = N28;# J10
#NET "MRCC1_n" LOC =N29; #j11
#NET "SRCC1_p" TIG;
#NET "SRCC1_n" TIG;
#NET "MRCC1_p" TIG;
#NET "MRCC1_n" TIG;
#---- ports for test



NET "Estmr_OQ_p" SLEW = FAST;
NET "Estmr_OQ_n" SLEW = FAST;
NET "Estmr_OQ_p" DRIVE = 24;


#NET "Estmr_OQ" IOSTANDARD = LVCMOS25;

NET "SRCC1_p_trigin" IOSTANDARD = LVCMOS25;
#Created by Constraints Editor (xc6vlx240t-ff1156-2) - 2018/05/17
NET "clk_EXT_250M" TNM_NET = "clk_EXT_250M";
TIMESPEC TS_clk_EXT_250M = PERIOD "clk_EXT_250M" 4 ns HIGH 50 %;
#TIMESPEC TS_clk_EXT_250M_R = PERIOD "clk_EXT_250M_R" 8 ns HIGH 50%;
TIMESPEC TS_CLK1toEXT250_TIG = FROM "Inst_crg_dcms_dcm_global_clkout1" TO "clk_EXT_250M_R" TIG ;


TIMESPEC TS_RXCtoCLK1_TIG = FROM "PHY_RXC" TO "Inst_crg_dcms_dcm_global_clkout1" TIG ;
TIMESPEC TS_RXCtoCLK2_TIG = FROM "PHY_RXC" TO "Inst_crg_dcms_dcm_global_clkout2" TIG ;
TIMESPEC TS_RXCtoCLK3_TIG = FROM "PHY_RXC" TO "Inst_crg_dcms_dcm_global_clkout3" TIG ;

TIMESPEC TS_ADCtoCLK1_TIG = FROM "ADC_CLKOI_p" TO "Inst_crg_dcms_dcm_global_clkout1" TIG ;
TIMESPEC TS_ADCtoCLK2_TIG = FROM "ADC_CLKOI_p" TO "Inst_crg_dcms_dcm_global_clkout2" TIG ;
TIMESPEC TS_ADCtoCLK3_TIG = FROM "ADC_CLKOI_p" TO "Inst_crg_dcms_dcm_global_clkout3" TIG ;
#Created by Constraints Editor (xc6vlx240t-ff1156-2) - 2018/06/25
TIMESPEC TS_RXCtoEXT250_TIG = FROM "PHY_RXC" TO "clk_EXT_250M_R" TIG ;

##########################SelfAdpt############################################
NET "cmd_adpt_n" LOC = H28;
NET "adpt_led" LOC = T30;
NET "trig_monitor" LOC = C22;
INST "Inst_SelfAdpt/IDELAYCTRL_inst" LOC = IDELAYCTRL_X1Y4;
INST "Inst_SelfAdpt/IODELAYE1_inst2" LOC = IODELAY_X1Y162;
##########################SelfAdpt############################################


