NET "OSC_in_p" LOC = K13 | TNM_NET = "OSC_in_p";
TIMESPEC TS_OSC_in_p = PERIOD "OSC_in_p" 12.5 ns HIGH 50 %;
NET "OSC_in_n" LOC = K12;
NET "GHz_in_p" LOC = D11 | TNM_NET = "GHz_in_p";
TIMESPEC TS_GHz_in_p = PERIOD "GHz_in_p" 1 ns HIGH 50 %;
NET "GHz_in_n" LOC = E11;
NET "user_pushbutton" LOC = J26;
# CLOCK region

NET "ADC_Mode" LOC = U33;
NET "ADC_sclk_OUT" LOC = U32;
NET "ADC_sdata[0]" LOC = U26;
NET "ADC_sldn_OUT" LOC = U27;
#TIMEGRP "ADC_sdata[0]" OFFSET = IN 50ns VALID 100ns BEFORE "ADC_sclk_out" RISING;
#ADC_interfce

NET "spi_clk" LOC = E17;
NET "spi_miso" LOC = F18;  
NET "spi_mosi" LOC =E18;
NET "spi_le" LOC = D17;
NET "spi_syn" LOC = Y27;
NET "spi_powerdn" LOC = Y28;
#NET "spi_pllock" LOC = K18;
# PlanAhead Generated physical constraints 
# ADC receiver
#------------------------------ADC_DOQ
NET "ADC_DOQA_p[0]" LOC =AF13 | TNM = "ADC_DOQA";
NET "ADC_DOQA_p[1]" LOC =AM12 | TNM = "ADC_DOQA"; 
NET "ADC_DOQA_p[2]" LOC =AE14 | TNM = "ADC_DOQA";
NET "ADC_DOQA_p[3]" LOC =AN13 | TNM = "ADC_DOQA";
NET "ADC_DOQA_p[4]" LOC =AG12 | TNM = "ADC_DOQA";
NET "ADC_DOQA_p[5]" LOC =AK13 | TNM = "ADC_DOQA";
NET "ADC_DOQA_p[6]" LOC =AH13 | TNM = "ADC_DOQA";
NET "ADC_DOQA_p[7]" LOC =AP14 | TNM = "ADC_DOQA";
#---------
NET "ADC_DOQA_n[0]" LOC =AG13 | TNM = "ADC_DOQA";
NET "ADC_DOQA_n[1]" LOC =AN12 | TNM = "ADC_DOQA";
NET "ADC_DOQA_n[2]" LOC =AF14 | TNM = "ADC_DOQA";
NET "ADC_DOQA_n[3]" LOC =AM13 | TNM = "ADC_DOQA";
NET "ADC_DOQA_n[4]" LOC =AH12 | TNM = "ADC_DOQA";
NET "ADC_DOQA_n[5]" LOC =AL13 | TNM = "ADC_DOQA";
NET "ADC_DOQA_n[6]" LOC =AH14 | TNM = "ADC_DOQA";
NET "ADC_DOQA_n[7]" LOC =AN14 | TNM = "ADC_DOQA";
#--------
NET "ADC_DOQB_p[0]" LOC =AE13 | TNM = "ADC_DOQB";
NET "ADC_DOQB_p[1]" LOC =AJ11 | TNM = "ADC_DOQB";
NET "ADC_DOQB_p[2]" LOC =AD14 | TNM = "ADC_DOQB";
NET "ADC_DOQB_p[3]" LOC =AK12 | TNM = "ADC_DOQB";
NET "ADC_DOQB_p[4]" LOC =AF11 | TNM = "ADC_DOQB";
NET "ADC_DOQB_p[5]" LOC =AM10 | TNM = "ADC_DOQB";
NET "ADC_DOQB_p[6]" LOC =AG11 | TNM = "ADC_DOQB";
NET "ADC_DOQB_p[7]" LOC =AL11 | TNM = "ADC_DOQB";
#--------
NET "ADC_DOQB_n[0]" LOC =AE12 | TNM = "ADC_DOQB";
NET "ADC_DOQB_n[1]" LOC =AK11 | TNM = "ADC_DOQB";
NET "ADC_DOQB_n[2]" LOC =AC14 | TNM = "ADC_DOQB";
NET "ADC_DOQB_n[3]" LOC =AJ12 | TNM = "ADC_DOQB";
NET "ADC_DOQB_n[4]" LOC =AE11 | TNM = "ADC_DOQB";
NET "ADC_DOQB_n[5]" LOC =AL10 | TNM = "ADC_DOQB";
NET "ADC_DOQB_n[6]" LOC =AG10 | TNM = "ADC_DOQB";
NET "ADC_DOQB_n[7]" LOC =AM11 | TNM = "ADC_DOQB";
#--------------------------------ADC_DOI
NET "ADC_DOIA_p[0]" LOC =AH18 | TNM = "ADC_DOIA";
NET "ADC_DOIA_p[1]" LOC =AN17 | TNM = "ADC_DOIA";
NET "ADC_DOIA_p[2]" LOC =AJ19 | TNM = "ADC_DOIA";
NET "ADC_DOIA_p[3]" LOC =AM17 | TNM = "ADC_DOIA";
NET "ADC_DOIA_p[4]" LOC =AD17 | TNM = "ADC_DOIA";
NET "ADC_DOIA_p[5]" LOC =AK18 | TNM = "ADC_DOIA";
NET "ADC_DOIA_p[6]" LOC =AE18 | TNM = "ADC_DOIA";
NET "ADC_DOIA_p[7]" LOC =AL16 | TNM = "ADC_DOIA";
#--------
NET "ADC_DOIA_n[0]" LOC =AG18 | TNM = "ADC_DOIA";
NET "ADC_DOIA_n[1]" LOC =AP17 | TNM = "ADC_DOIA";
NET "ADC_DOIA_n[2]" LOC =AH19 | TNM = "ADC_DOIA";
NET "ADC_DOIA_n[3]" LOC =AM16 | TNM = "ADC_DOIA";
NET "ADC_DOIA_n[4]" LOC =AE17 | TNM = "ADC_DOIA";
NET "ADC_DOIA_n[5]" LOC =AK17 | TNM = "ADC_DOIA";
NET "ADC_DOIA_n[6]" LOC =AF18 | TNM = "ADC_DOIA";
NET "ADC_DOIA_n[7]" LOC =AK16 | TNM = "ADC_DOIA";
#-------
NET "ADC_DOIB_p[0]" LOC =AG15 | TNM = "ADC_DOIB";
NET "ADC_DOIB_p[1]" LOC =AK14 | TNM = "ADC_DOIB";
NET "ADC_DOIB_p[2]" LOC =AJ15 | TNM = "ADC_DOIB";
NET "ADC_DOIB_p[3]" LOC =AL15 | TNM = "ADC_DOIB";
NET "ADC_DOIB_p[4]" LOC =AG16 | TNM = "ADC_DOIB";
NET "ADC_DOIB_p[5]" LOC =AN15 | TNM = "ADC_DOIB";
NET "ADC_DOIB_p[6]" LOC =AJ17 | TNM = "ADC_DOIB";
NET "ADC_DOIB_p[7]" LOC =AP16 | TNM = "ADC_DOIB";
#-------
NET "ADC_DOIB_n[0]" LOC =AF15 | TNM = "ADC_DOIB";
NET "ADC_DOIB_n[1]" LOC =AJ14 | TNM = "ADC_DOIB";
NET "ADC_DOIB_n[2]" LOC =AH15 | TNM = "ADC_DOIB";
NET "ADC_DOIB_n[3]" LOC =AL14 | TNM = "ADC_DOIB";
NET "ADC_DOIB_n[4]" LOC =AF16 | TNM = "ADC_DOIB";
NET "ADC_DOIB_n[5]" LOC =AM15 | TNM = "ADC_DOIB";
NET "ADC_DOIB_n[6]" LOC =AJ16 | TNM = "ADC_DOIB";
NET "ADC_DOIB_n[7]" LOC =AP15 | TNM = "ADC_DOIB";
#-------
#NET "USB_data[0]" LOC=E32 | TNM = "USB_FD";
#NET "USB_data[1]" LOC=E33 | TNM = "USB_FD";
#NET "USB_data[2]" LOC=F30 | TNM = "USB_FD";
#NET "USB_data[3]" LOC=G30 | TNM = "USB_FD";
#NET "USB_data[4]" LOC=A33 | TNM = "USB_FD";
#NET "USB_data[5]" LOC=H34 | TNM = "USB_FD";
#NET "USB_data[6]" LOC=D31 | TNM = "USB_FD";
#NET "USB_data[7]" LOC=D32 | TNM = "USB_FD";
#NET "USB_data[8]" LOC=K33 | TNM = "USB_FD";
#NET "USB_data[9]" LOC=J34 | TNM = "USB_FD";
#NET "USB_data[10]" LOC=G32 | TNM = "USB_FD";
#NET "USB_data[11]" LOC=H32 | TNM = "USB_FD";
#NET "USB_data[12]" LOC=L25 | TNM = "USB_FD";
#NET "USB_data[13]" LOC=L26 | TNM = "USB_FD";
#NET "USB_data[14]" LOC=J31 | TNM = "USB_FD";
#NET "USB_data[15]" LOC=J32 | TNM = "USB_FD";
#NET "USB_SLRD" LOC = C32;
#NET "USB_SLOE" LOC = H30;
#NET "USB_SLWR" LOC = B32;
#NET "USB_IFCLK" LOC = K26;
#NET "USB_PKTEND" LOC = N28;#MRCC1_p
#NET "USB_FIFOADR[0]" LOC = J29;
#NET "USB_FIFOADR[1]" LOC = K28;
#NET "USB_DataEPFull" LOC = L30;#flagC
#NET "USB_CmdEPEmpty" LOC = L29;#flagA
#NET "USB_rst" LOC = J27;#user_pushbutton low active
#NET "USB_CmdEPEmpty" IOSTANDARD = LVCMOS25;
#NET "USB_SLOE" IOSTANDARD = LVCMOS25;
#NET "USB_DataEPFull" IOSTANDARD = LVCMOS25;
#-------
#TIMEGRP "ADC_DOQA" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOQ_p" RISING;
#TIMEGRP "ADC_DOQB" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOQ_p" RISING;
#TIMEGRP "ADC_DOIA" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOI_p" RISING;
#TIMEGRP "ADC_DOIB" OFFSET = IN 1ns VALID 2ns BEFORE "ADC_CLKOI_p" RISING;

NET "DOIRI_p" LOC =AH17; 
NET "DOIRI_n" LOC =AG17;
NET "DOIRQ_p" LOC =AJ10;
NET "DOIRQ_n" LOC =AH10;
#--------
NET "ADC_CLKOI_p" LOC =A10 | TNM_NET = "ADC_CLKOI_p";
TIMESPEC TS_ADC_CLKOI = PERIOD "ADC_CLKOI_p" 4 ns HIGH 50 %;
OFFSET = IN -250 ps VALID 2 ns BEFORE ADC_CLKOI_p RISING;
OFFSET = IN -250 ps VALID 2 ns BEFORE ADC_CLKOI_p FALLING;
NET "ADC_CLKOI_n" LOC =B10 | TNM_NET = "ADC_CLKOI_n";
TIMESPEC TS_ADC_CLKOI_n = PERIOD "ADC_CLKOI_n" 4 ns HIGH 50 %;

NET "ADC_CLKOQ_p" LOC =J9 | TNM_NET = "ADC_CLKOQ_p";
TIMESPEC TS_ADC_CLKOQ_p = PERIOD "ADC_CLKOQ_p" 4 ns HIGH 50 %;
OFFSET = IN -250 ps VALID 2 ns BEFORE ADC_CLKOQ_p RISING;
OFFSET = IN -250 ps VALID 2 ns BEFORE ADC_CLKOQ_p FALLING;
NET "ADC_CLKOQ_n" LOC =H9 | TNM_NET = "ADC_CLKOQ_n";
TIMESPEC TS_ADC_CLKOQ_n = PERIOD "ADC_CLKOQ_n" 4 ns HIGH 50 %;
#--------
INST "DFF_doqA_1_inst1[0].FDCE_inst" LOC=SLICE_X89Y55 | TNM = DFFQ;
INST "DFF_doqA_1_inst1[1].FDCE_inst" LOC=SLICE_X89Y53 | TNM = DFFQ;
INST "DFF_doqA_1_inst1[2].FDCE_inst" LOC=SLICE_X89Y51 | TNM = DFFQ;
INST "DFF_doqA_1_inst1[3].FDCE_inst" LOC=SLICE_X89Y49 | TNM = DFFQ;
INST "DFF_doqA_1_inst1[4].FDCE_inst" LOC=SLICE_X89Y47 | TNM = DFFQ;
INST "DFF_doqA_1_inst1[5].FDCE_inst" LOC=SLICE_X89Y45 | TNM = DFFQ;
INST "DFF_doqA_1_inst1[6].FDCE_inst" LOC=SLICE_x89y43 | TNM = DFFQ;
INST "DFF_doqA_1_inst1[7].FDCE_inst" LOC=SLICE_X89Y41 | TNM = DFFQ;

INST "DFF_doqA_2_inst2[0].FDCE_inst" LOC=SLICE_X89Y55 | TNM = DFFQ;
INST "DFF_doqA_2_inst2[1].FDCE_inst" LOC=SLICE_X89Y53 | TNM = DFFQ;
INST "DFF_doqA_2_inst2[2].FDCE_inst" LOC=SLICE_X89Y51 | TNM = DFFQ;
INST "DFF_doqA_2_inst2[3].FDCE_inst" LOC=SLICE_X89Y49 | TNM = DFFQ;
INST "DFF_doqA_2_inst2[4].FDCE_inst" LOC=SLICE_X89Y47 | TNM = DFFQ;
INST "DFF_doqA_2_inst2[5].FDCE_inst" LOC=SLICE_X89Y45 | TNM = DFFQ;
INST "DFF_doqA_2_inst2[6].FDCE_inst" LOC=SLICE_X89Y43 | TNM = DFFQ;
INST "DFF_doqA_2_inst2[7].FDCE_inst" LOC=SLICE_X89Y41 | TNM = DFFQ;

INST "DFF_doqB_1_inst3[0].FDCE_inst" LOC=SLICE_X89Y79 | TNM = DFFQ;
INST "DFF_doqB_1_inst3[1].FDCE_inst" LOC=SLICE_X89Y77 | TNM = DFFQ;
INST "DFF_doqB_1_inst3[2].FDCE_inst" LOC=SLICE_X89Y75 | TNM = DFFQ;
INST "DFF_doqB_1_inst3[3].FDCE_inst" LOC=SLICE_X89Y73 | TNM = DFFQ;
INST "DFF_doqB_1_inst3[4].FDCE_inst" LOC=SLICE_X89Y71 | TNM = DFFQ;
INST "DFF_doqB_1_inst3[5].FDCE_inst" LOC=SLICE_X89Y69 | TNM = DFFQ;
INST "DFF_doqB_1_inst3[6].FDCE_inst" LOC=SLICE_X89Y67 | TNM = DFFQ;
INST "DFF_doqB_1_inst3[7].FDCE_inst" LOC=SLICE_X89Y65 | TNM = DFFQ;

INST "DFF_doqB_2_inst4[0].FDCE_inst" LOC=SLICE_X89Y79 | TNM = DFFQ;
INST "DFF_doqB_2_inst4[1].FDCE_inst" LOC=SLICE_X89Y77 | TNM = DFFQ;
INST "DFF_doqB_2_inst4[2].FDCE_inst" LOC=SLICE_X89Y75 | TNM = DFFQ;
INST "DFF_doqB_2_inst4[3].FDCE_inst" LOC=SLICE_X89Y73 | TNM = DFFQ;
INST "DFF_doqB_2_inst4[4].FDCE_inst" LOC=SLICE_X89Y71 | TNM = DFFQ;
INST "DFF_doqB_2_inst4[5].FDCE_inst" LOC=SLICE_X89Y69 | TNM = DFFQ;
INST "DFF_doqB_2_inst4[6].FDCE_inst" LOC=SLICE_X89Y67 | TNM = DFFQ;
INST "DFF_doqB_2_inst4[7].FDCE_inst" LOC=SLICE_X89Y65 | TNM = DFFQ;
#--------
INST "DFF_doiA_1_inst1[0].FDCE_inst" LOC=SLICE_X89Y15 | TNM = DFFI;
INST "DFF_doiA_1_inst1[1].FDCE_inst" LOC=SLICE_X89Y13 | TNM = DFFI;
INST "DFF_doiA_1_inst1[2].FDCE_inst" LOC=SLICE_X89Y11 | TNM = DFFI;
INST "DFF_doiA_1_inst1[3].FDCE_inst" LOC=SLICE_X89Y9 | TNM = DFFI;
INST "DFF_doiA_1_inst1[4].FDCE_inst" LOC=SLICE_X89Y7 | TNM = DFFI;
INST "DFF_doiA_1_inst1[5].FDCE_inst" LOC=SLICE_X89Y5 | TNM = DFFI;
INST "DFF_doiA_1_inst1[6].FDCE_inst" LOC=SLICE_x89y3 | TNM = DFFI;
INST "DFF_doiA_1_inst1[7].FDCE_inst" LOC=SLICE_X89Y1 | TNM = DFFI;

INST "DFF_doiA_2_inst2[0].FDCE_inst" LOC=SLICE_X89Y15 | TNM = DFFI;
INST "DFF_doiA_2_inst2[1].FDCE_inst" LOC=SLICE_X89Y13 | TNM = DFFI;
INST "DFF_doiA_2_inst2[2].FDCE_inst" LOC=SLICE_X89Y11 | TNM = DFFI;
INST "DFF_doiA_2_inst2[3].FDCE_inst" LOC=SLICE_X89Y9 | TNM = DFFI;
INST "DFF_doiA_2_inst2[4].FDCE_inst" LOC=SLICE_X89Y7 | TNM = DFFI;
INST "DFF_doiA_2_inst2[5].FDCE_inst" LOC=SLICE_X89Y5 | TNM = DFFI;
INST "DFF_doiA_2_inst2[6].FDCE_inst" LOC=SLICE_X89Y3 | TNM = DFFI;
INST "DFF_doiA_2_inst2[7].FDCE_inst" LOC=SLICE_X89Y1 | TNM = DFFI;

INST "DFF_doiB_1_inst3[0].FDCE_inst" LOC=SLICE_X89Y39 | TNM = DFFI;
INST "DFF_doiB_1_inst3[1].FDCE_inst" LOC=SLICE_X89Y37 | TNM = DFFI;
INST "DFF_doiB_1_inst3[2].FDCE_inst" LOC=SLICE_X89Y35 | TNM = DFFI;
INST "DFF_doiB_1_inst3[3].FDCE_inst" LOC=SLICE_X89Y33 | TNM = DFFI;
INST "DFF_doiB_1_inst3[4].FDCE_inst" LOC=SLICE_X89Y31 | TNM = DFFI;
INST "DFF_doiB_1_inst3[5].FDCE_inst" LOC=SLICE_X89Y29 | TNM = DFFI;
INST "DFF_doiB_1_inst3[6].FDCE_inst" LOC=SLICE_X89Y27 | TNM = DFFI;
INST "DFF_doiB_1_inst3[7].FDCE_inst" LOC=SLICE_X89Y25 | TNM = DFFI;

INST "DFF_doiB_2_inst4[0].FDCE_inst" LOC=SLICE_X89Y39 | TNM = DFFI;
INST "DFF_doiB_2_inst4[1].FDCE_inst" LOC=SLICE_X89Y37 | TNM = DFFI;
INST "DFF_doiB_2_inst4[2].FDCE_inst" LOC=SLICE_X89Y35 | TNM = DFFI;
INST "DFF_doiB_2_inst4[3].FDCE_inst" LOC=SLICE_X89Y33 | TNM = DFFI;
INST "DFF_doiB_2_inst4[4].FDCE_inst" LOC=SLICE_X89Y31 | TNM = DFFI;
INST "DFF_doiB_2_inst4[5].FDCE_inst" LOC=SLICE_X89Y29 | TNM = DFFI;
INST "DFF_doiB_2_inst4[6].FDCE_inst" LOC=SLICE_X89Y27 | TNM = DFFI;
INST "DFF_doiB_2_inst4[7].FDCE_inst" LOC=SLICE_X89Y25 | TNM = DFFI;
#--------
INST "ram_data_inst" TNM = RAMQ;
INST "ram_data_inst2" TNM = RAMI;
#--------
TIMESPEC TS_DFFQtoRAM = FROM DFFQ TO RAMQ 3 ns;
TIMESPEC TS_DFFQtoRAM = FROM DFFI TO RAMI 3 ns;
#--------
NET "PHY_GTXclk_quar" LOC= AL33;
#TIMESPEC TS_PHY_GTXclk_quar = PERIOD "PHY_GTXclk_quar" 8 ns HIGH 50 %;
NET "phy_txen_quar" LOC = AN33;
NET "phy_txer_o" loc = AN34;
NET "phy_rst_n_o" LOC = AP32;#--reset the chip
NET "PHY_TXD_o[0]" LOC = AH30 | TNM = "TXD";
NET "PHY_TXD_o[1]" LOC = AH29 | TNM = "TXD";
NET "PHY_TXD_o[2]" LOC = AK34 | TNM = "TXD";
NET "PHY_TXD_o[3]" LOC = AL34 | TNM = "TXD";
#TIMEGRP "TXD" OFFSET = OUT 6.275 ns BEFORE "OSC_in_p" REFERENCE_PIN "PHY_GTXclk_quar" RISING;
#TIMEGRP "TXD" OFFSET = OUT 6.275 ns BEFORE "OSC_in_p" REFERENCE_PIN "PHY_GTXclk_quar" FALLING;

NET "PHY_RXD[3]" LOC =AJ30;
NET "PHY_RXD[2]" LOC =AK33;
NET "PHY_RXD[1]" LOC =AK32;
NET "PHY_RXD[0]" LOC =AL31;
NET "PHY_RXC" LOC =AF26; 
NET "PHY_RXC" CLOCK_DEDICATED_ROUTE = FALSE;
TIMESPEC TS_PHY_RXC = PERIOD "PHY_RXC" 8 ns HIGH 50 %;
#TIMEGRP "RXD" OFFSET = in 2ns VALID 4ns BEFORE "PHY_RXC" RISING;
#TIMEGRP "RXD" OFFSET = in 2ns VALID 4ns BEFORE "PHY_RXC" FALLING;
NET "PHY_RXDV" LOC =AK31;
#---------------------------------------
#NET "SRCC1_p" LOC =N32;#j9
#NET "SRCC1_n" LOC =P32; #j8
#NET "MRCC2_p" LOC =N33; #j12
#NET "MRCC2_n[0]" LOC =M33; #j13